<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="StockEntities" connectionString="metadata=res://*/Models.Stock.csdl|res://*/Models.Stock.ssdl|res://*/Models.Stock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-82BMHD1B\SQLEXPRESS;initial catalog=Stock;user id=sa;password=passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/Models.NotrheindModel.csdl|res://*/Models.NotrheindModel.ssdl|res://*/Models.NotrheindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-82BMHD1B\SQLEXPRESS;initial catalog=Northwind;integrated security=True;connect timeout=5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>